
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&family=Space+Grotesk:wght@500;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Caveat', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif;
 }


/*login1*/
.wrapper {
    background:#73c4f9;
    padding: 0 20px ;
 }
 .row {
    width : 1000px ;
    height: 551px ;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2) ;
    position: relative;
 }
 .text {
     position: absolute;
     top : 50% ;
     left: 50% ;
     transform: translate(-50%,-30%);
 }
 .text h1 {
     font-size: 3em ;
     margin-bottom: 20px;
     color: white;
     font-weight: 700;
     width : 400px ;
 }
 .text p {
     font-size: 0.9em ;
     margin-top: 10px;
     color: white;
 }
 .main {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }
 .side-image { 
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 10px 0 0 10px;
 }
 
 .right {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative ;
 }
 .input-box {
      width : 360px ; 
 }
 .input-box header {
     text-align: center;
     margin-bottom: 45px;
     color: rgb(113, 195, 249) ;
     font-size: 35px ;
     font-weight: 700;
 }
 
 .input-field {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative ;
     padding: 0 10px 0 10px;
 }
 .input {
     height: 45px;
     width : 100%  ;
     background: transparent ;
     border: none;
     border-bottom: 1px solid gray ;
     outline: none;
     margin-bottom: 20px;
     color : #40414a ;
 }
 .input-box .input-field label {
     position: absolute;
     top : 10px ;
     left : 10px ;
     pointer-events: none;
     transition: .5s;
 }
 .input-field .input:focus  ~  label {
      top : -10px ;
      font-size: 13px ;
 }
 .input-field .input:valid  ~  label {
     top : -10px ;
     font-size: 13px ;
     color : #5d5076 ;
 }
 .input-field .input:focus, .input-field .input:valid  {
     border-bottom: 1px solid rgb(113, 195, 249) ;
 }
 .submit {
     border : none ;
     outline : none ;
     height: 45px ;
     width : 130px ;
     background-color: #73c4f9;
     border-radius: 15px;
     transition: 0.5s;
     font-weight: 500;
     color: white;
 }
 .submit:hover {
    transform: scale(1.1);
 }
 .Inscription {
     text-align: center;
     font-size: small;
     margin-top: 25px;
 }
 .Inscription a {
     font-size: 16px;
     font-weight: 600;
     color: #73c4f9; 
     transition: 0.5s; 
 }
 .Inscription a:hover {
     text-decoration: underline ;
 }




/*login2*/

.input22 {
    margin-bottom: 20px;
 }

.header22 {
    margin-bottom: 10px;
}
.row22 {
    height: 600px ;
}

/*login3*/ 

.row33 {
    height: 700px ;
}
.header33 {
    margin-top: 20px;
}
.input33 {
   height: 34px;
 }
 .main33 .row {
    margin-top: 9px;
    margin-bottom: 9px;
}



 @media all and (max-width : 768px ) {
    .side-image {
        border-radius: 10px 10px 0 0 ;
    }
    .text {
   position: absolute;
   top : 50% ;
   text-align: center;
    }
    .text h1 {
        font-size: 17px;
    }
    .text p {
        font-size: 13px;
    }
    .row {
        max-width: 420px;
        width : 100% ;
    }
    .input22 {
        margin-bottom: 8px;
    }
    .main22 .row  {
        height: 740px;
    }
    .main22 .header22 {
        margin-top: -50px ;
    }
    .main33 .row {
        height: 800px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .side-image2 {
        height: 120px;
    }
}
